<div class="container">
  <div class="row">
    <div class="col-md-5 order-md-1">
      <h4 class="mb-3">Create Order</h4>
      <form novalidate [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="toaccount">To Account</label>
          <input type="text" class="form-control" id="toaccount" placeholder="To Account" formControlName="accountTo">
        </div>

        <div class="mb-3">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" placeholder="Amount" formControlName="amount">
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Create</button>
      </form>
      <div class="alert alert-danger mt-5" role="alert" *ngIf="errors.length > 0">
        Field Errors
        <ul>
          <li *ngFor="let error of errors">
            {{ error.field }} {{ error.message }}
          </li>
        </ul>
      </div>
      <div class="alert alert-danger mt-5" role="alert" *ngIf="globalErrors.length > 0">
        Global Errors
        <ul>
          <li *ngFor="let globalError of globalErrors">
            {{ globalError.field }} {{ globalError.message }}
          </li>
        </ul>
      </div>
      <div class="alert alert-success mt-5" role="alert" *ngIf="isSaved">
        Order created successfully!
      </div>
    </div>
  </div>
</div>
