<div class="container justify-content-center">
  <div class="row">
    <div class="col-sm-2">
      Id
    </div>
    <div class="col-sm-6">
      : {{order.id}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Account From
    </div>
    <div class="col-sm-6">
      : {{order.accountFrom}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Account To
    </div>
    <div class="col-sm-6">
      : {{order.accountTo}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Amount
    </div>
    <div class="col-sm-6">
      : {{order.amount}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Status
    </div>
    <div class="col-sm-6">
      : {{order.status}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <button type="button" class="btn btn-success" [disabled]="order.status != 'SET'" (click)="onUpdate('EXECUTED')">Execute</button>
    </div>
    <div class="col-sm-6">
      <button type="button" class="btn btn-danger" [disabled]="order.status != 'SET'" (click)="onUpdate('REJECTED')">Reject</button>
    </div>
  </div>
  <div class="alert alert-danger mt-5" role="alert" *ngIf="errors.length > 0">
    <ul>
      <li *ngFor="let error of errors">
        {{ error.field }} {{ error.message }}
      </li>
    </ul>
  </div>
  <div class="alert alert-success mt-5" role="alert" *ngIf="isSaved">
    Order is now in state {{order.status}}
  </div>
</div>
