<p-table #dt [columns]="cols" [value]="orders" [paginator]="true" [rows]="10"
         [lazy]="true" (onLazyLoad)="loadOrdersLazy($event)" [totalRecords]="totalRecords" [loading]="loading">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <p-dropdown [options]="statuses" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, 'status', 'equals')"></p-dropdown>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td><a routerLink="/admin/detail/{{rowData.id}}">View Detail</a></td>
    </tr>
  </ng-template>
</p-table>
