 <div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h2>Registration form</h2>
      <p class="lead">Here you can register your self for ebanking application</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-5 order-md-1">
        <h4 class="mb-3">Your account data</h4>
        <form novalidate [formGroup]="accountForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username">
          </div>

          <div class="mb-3">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" placeholder="Password" formControlName="password">
          </div>
          <div class="mb-3">
            <label for="accountnumber">Account number</label>
            <input type="text" class="form-control" id="accountnumber" placeholder="Account number" formControlName="accountNumber">
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
        </form>
        <a class="btn btn-link" routerLink="/signin">Back</a>
        <div class="alert alert-danger mt-5" role="alert" *ngIf="errors.length > 0">
          <ul>
            <li *ngFor="let error of errors">
              {{ error.field }} {{ error.message }}
            </li>
          </ul>
        </div>
        <div class="alert alert-success mt-5" role="alert" *ngIf="isSaved">
          Person saved successfully!
        </div>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2017-2018 Ebanking</p>
    </footer>
  </div>
